/01/substrate-node-template/.github/ISSUE_TEMPLATE/ask-a-question.md
/01/substrate-node-template/.github/ISSUE_TEMPLATE/report-a-bug.md
/01/substrate-node-template/.github/ISSUE_TEMPLATE/suggest-a-feature.md
/01/substrate-node-template/.github/workflows/build-push-template.yml
/01/substrate-node-template/.github/workflows/check.yml
/02/substrate-node-template/pallets/kitties/.idea
